<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
  <% @images.each do |image| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <div><%= link_to (image_tag image.file_url(:thumb)), image %></td></div>
          <div class="caption">
          <div class="row">
          <% if (user_signed_in?) && (can? :manage, Image) %>
            <div class="col-md-4">
              <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          <% end %>
          <div class="coll-md-8 right">
            <%= image.title %></br>
            <span class="text-muted">uploaded by</span>
            <%= link_to image.user.name, user_show_path(image.user) %>
          </div>
          </div>
          </div>
        </a>
      </div>
    </div>
    <% end %>
  </div>

</div>

<br>

<%= link_to 'New Image', new_image_path %>

<%= will_paginate @images %>
